// Place all the styles related to the bubbles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status {
  border: 1px solid;
  padding: 1px;
}

.status-even{
  @extend .status;
  border-color: red;
}

.status-odd{
  @extend .status;
  border-color: green;
}
